/* src/App.css */

/* Contenedor principal */
.App {
  min-height: 100vh;
  background-color: #fff;
}

/* Animación de fade-in para secciones */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Hero Section */
.hero {
  background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
  color: #fff;
  text-align: center;
  padding: 100px 0;
  animation: fadeIn 1.2s ease-out;
}

.hero h1 {
  font-size: 2.8rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.3rem;
}

/* Estilo general para secciones */
section {
  padding: 80px 0;
  animation: fadeIn 1s ease-out;
}

/* Tarjetas de proyectos */
.project-card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 30px;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

.project-card h5 {
  margin-top: 15px;
}

/* Botones Primarios */
.btn-primary {
  background-color: var(--btn-primary-bg);
  border: none;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--btn-primary-hover);
}

/* Footer */
footer {
  background-color: var(--footer-bg);
  color: var(--footer-text);
  padding: 20px 0;
  text-align: center;
}
/* App.css */

/* Contenedor para los iconos sociales */
.social-buttons {
  margin-top: 20px;
}

.social-icon {
  margin: 0 15px;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #000000; /* Cambia el color cuando se pase el ratón sobre el ícono */
}

/* Estilos adicionales para los iconos */
.social-icon svg {
  transition: transform 0.3s ease;
}

.social-icon:hover svg {
  transform: scale(1.1); /* Añadir un efecto de agrandar los íconos al hacer hover */
}
